html, body{
	margin: 0px;
	padding: 0px;
}

p {
	font-family: "Noto Sans KR", sans-serif;
	margin-top: 0px;
	margin-bottom: 0.5em;
}

button {
	font-family: "Noto Sans KR", sans-serif;
	border: none;
	cursor: pointer;
	background: inherit;
	box-shadow:none;
	border-radius:0;
	padding:0;
	overflow:visible;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
}


body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2px;
	background-color: #a1cf7a;
	background-image: url("../assets/background.png");
	background-position: center;
}

main{
	position: relative;
	border: solid 16px #fff0;
	border-image: url("../assets/border.png") 16 round;
	border-radius: 20px;
	background-color: white;
}

.content-wrapper {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	padding: 30px 60px;
	display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.title-wrapper {
	display: flex;
	gap: 20px;
}

.title, .drag-area-title {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 24px;
	color: #3b7362;
	flex-shrink: 0;
}

.title.big{
	font-size: 36px;
}

.title::after {
	content: "";
	display: block;
	margin-top: 5px;
	width: 70px;
	height: 1px;
	border-top: 2px solid #3b7362;
}

preview-component {
	position: relative;
	width: 60vmin;
	height: 60vmin;
	margin-bottom: 30px;
	padding: 10px;
	box-sizing: border-box;
	border: solid 9px #fff0;
	border-image: url("../assets/border-thin.png") 12 round;
	border-radius : 9px;
	box-shadow: inset 5px 5px 8px 0px #0003, inset -5px -5px 10px #0001;

	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.controller-wrapper {
	width: 400px;
	height: 500px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	justify-content: center;
	box-sizing: border-box;
}


.checkbox-wrapper {
	margin-bottom: 5px;
	display: flex;
	justify-content: flex-start;
	gap: 20px;
}

.checkbox-item {
	position: relative;
}

.checkbox-desc {
	position: absolute;
	width: 200px;
	top: 20px;
	left: 25px;
	background-color: #fffc;
	padding: 5px;
	border-radius: 5px;
	font-size: 12px;
	opacity: 0;
	z-index: 10;
	pointer-events: none;
}

label {
	font-family: 'Noto Sans KR';
	user-select: none;
	font-size: 15px;
}

label:hover + .checkbox-desc, .checkbox-desc:hover, input[type=checkbox]:focus-visible ~ .checkbox-desc{
	opacity: 1;
	pointer-events: bounding-box;
}

.button-wrapper {
	width: 100%;
	display: flex;
	gap: 10px;
}

.button {
	width: 200px;
	height: 70px;
	padding: 8px 0px 2px;
	background-color: #21835D;
	color: #fff;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.button[disabled] {
	background-color: #aaa;
	cursor: default;
}

.button img{
	width: 40px;
	height: 40px;
}

.button p{
	font-family: "Raleway";
	font-weight: 500;
}

p.no-bottom-margin {
	margin-bottom: 0;
}

p.small {
	font-size: 12px;
	font-weight: 300;
}

.button.inactive .small{
	display: none;
}


.code {
	width: 100%;
	height: 150px;
	background-color: #6c584c;
	color: #cbe2ad;
	font-size: 12px;
	padding: 10px;
	box-sizing: border-box;
	white-space: pre-wrap;
}

footer p{
	color: white;
	font-size: 12px;
	font-weight: 300;
}


.content-wrapper::-webkit-scrollbar{
	width: 10px;
	height: 10px;
}
.content-wrapper::-webkit-scrollbar-thumb{
	background: linear-gradient(135deg, #009688, #aaaaaa);
		background-clip: padding-box;
		border: 3px solid transparent;
}
.content-wrapper::-webkit-scrollbar-track{
	background-color: transparent;
}

/**
 * drag indicator
 */

.drag-indicator {
	position: absolute;
	top: 30px;
	left: 30px;
	width: calc(100% - 60px);
	height: calc(100% - 60px);
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 4px dashed #5ba67b;
	border-radius: 20px;
	background-color: #fffc;
	pointer-events: none;
}

.drag-indicator img {
	width: 80px;
	height: 80px;
}

.drag-area-caption {
	font-size: 12px;
	color: #666666;
}

.drag-indicator.hidden {
	visibility: hidden;
}

.github-corner {
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
	fill: #202020;
	color: #ffffff;
}

.github-corner:focus {
	fill: #303030;
}

/* Tablet(Horizontal) */
@media screen and (max-width: 1199px) {
	main {
		width: calc(100vw - 20px);
		height: calc(100vh - 100px);
		box-sizing: border-box;

		border-width: 12px;
		border-radius: 14px;
	}

	.content-wrapper {
		padding: 10px;
		gap: 20px;
		overflow: hidden;
	}

	preview-component {
		margin-bottom: 10px;
		border-width: 9px;
		border-radius: 9px;
	}

	.controller-wrapper{
		gap: 10px;
	}

	.button {
		width: 50%;
	}

	footer p{
		font-size: 8px;
		text-align: center;
	}
}

@media screen and (min-width: 900px) and (max-width: 960px) {
	.desc-120px {
		width: 120px;
	}
}

/* Tablet(Vertical) */
@media screen and (min-width: 768px) and (max-width: 899px) {
	main {
		width: calc(100vw - 60px);
	}

	.content-wrapper {
		justify-content: flex-start;
		flex-direction: column;
		overflow-y: auto;
	}

	.controller-wrapper{
		width: 100%;
		height: auto;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 20px;
	}

	.pack-wrapper{
		width: 48%;
		height: 150px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: space-between;
	}

	.code-wrapper{
		width: 100%;
	}
}

/* Mobile */
@media screen and (max-width: 767px) {
	main {
		width: calc(100vw - 20px);
		height: calc(100vh - 60px);
		box-sizing: border-box;

		border-width: 8px;
		border-radius: 10px;
	}

	.content-wrapper {
		padding: 10px;
		flex-direction: column;
		justify-content: flex-start;
		gap: 20px;
		overflow-y: auto;
	}

	preview-component {
		width: 80vmin;
		height: 80vmin;
		margin-bottom: 10px;
		border-width: 6px;
		border-radius: 6px;
	}

	.controller-wrapper{
		width: 100%;
		height: unset;
		gap: 10px;
		flex-direction: column;
		justify-content: center;
		flex-wrap: nowrap;
	}
}


/* legacy toggle */
.legacy-toggle-wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
    height: min-content;
}
.small {
	font-size: 0.75em;
}